<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Contato</title>
    </head>
    <body>
        <form name="formulario" action="formulario" method="POST">
            <table style="width:76%">
                <tr>
                    <td><font face="Calibri"size="8"><b>Entre em Contato!</b></font></td><p></p>
                </tr>
            </table><P></P>
                <label>E-mail</label><br/>
                <input type="email" maxlength="30" size="30" name="enderecoEmail" placeholder="Digite seu email" required><p>
                <label>Nome </label><br/>
                <input type="text" maxlength="30" size="30" name="enderecoEmail" placeholder="Digite seu nome" required><p>
                <label>Mensagem</label><br/>
                <textarea name="msg" required></textarea><p>
                <input type="submit" value="Enviar">
        </form>
    </body>
</html>