<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <form name="formulario" action="formulario" method="POST">
            <table style="width:76%">
                <tr>
                    <td><font face="Calibri"size="8"><b>Login</b></font></td><p></p>
                </tr>
            </table><P></P>
                <label>Usuário:</label><br/>
                <input type="email" maxlength="30" size="30" name="enderecoEmail" placeholder="Digite seu usuário" required><p>
                <label>Senha: </label><br/>
                <input type="password" maxlength="30" size="30" name="enderecoEmail" placeholder="Digite sua senha" required><p>
                <input type="submit" value="Enviar">
        </form>
    </body>
</html>