<!DOCTYPE html>
<html>
	<head>
		<title>Faculdade Impacta - AC4</title>
	</head>
	<body>
		<table style="width:100%">
			<tr>
				<td><center><font face="arial"size="5"><b>Faculdade Impacta de Tecnologia</b></font></center></td>
			</tr>
			<tr>
				<td><center><font face="arial"size="5">A TECNOLOGIA MUDA SEU FUTURO</font></center></td>
			</tr>
		</table>
		<div><center><font face="arial"size="5"><br>Faculdade Impacta de Tecnologia</font></center></div>
		
		<br><font face="arial"size="3">Navegue pelo nosso site</font><br>

			<a href="contato" target="_blank">Contato</a><br>
			<a href="login" target="_blank">Login</a>
		
    </body>
</html>